<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<main hx-ext="response-targets">

    <form hx-post="/login" hx-target="#loginResult" hx-target-401="#loginResult" hx-swap="innerHTML" hx-trigger="submit"
          method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required>

        <button type="submit">Login</button>
    </form>

    <div id="loginResult"></div>
</main>

<script>
    function initCookieBanner() {
        if (Cookies.get('cookie')) {
            return;
        }

        const cookieBanner = document.createElement('div');
        cookieBanner.id = "cookieBanner";

        const cookieText = document.createElement('p');
        cookieText.innerText = "This website uses cookies to ensure you get the best experience on our website.";

        const cookieButton = document.createElement('button');
        cookieButton.innerText = "Got it";
        cookieButton.onclick = function () {
            Cookies.set('cookie', 'value');
            cookieBanner.remove();
        }

        cookieBanner.append(cookieText, cookieButton);
        document.body.append(cookieBanner);
    }
    initCookieBanner();
</script>

</body>
</html>
